.header_section{
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.inner_header_section{
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.inner_header_section .logo span{
    font-size: 1.5rem;
    font-weight: var(--semibold);
}

.navlinks{
    display: flex;
    gap: 1rem;
}

.auth_link{
    font-size: 1.2rem;
    font-weight: var(--medium);
    text-decoration: none;
    color: var(--textPrimary);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: var(--bgBlue);
}

.username{
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: var(--semibold);
}

.logout_btn{
    font-size: 1.2rem;
    font-weight: var(--medium);
    text-decoration: none;
    color: var(--textPrimary);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: var(--bgBlue);
    cursor: pointer;
}